:root {
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --dark-grey: rgb(50, 54, 57);
    --grey: rgb(70, 74, 77);
    --light-purple: rgb(207, 160, 215);
    --dark-purple: rgb(110, 0, 140);
}

body {
    font-family: monospace;
    background-color: var(--dark-grey);
    text-align: left;
    color: var(--white);
}

.page_title {
    height: fit-content;
}

.banner {
    background-color: var(--dark-purple);
    height: 10px;
}

.navbar {
    overflow: hidden;
    background-color: var(--black);
    border-width: 3px;
    border-color: var(--dark-purple);
    border-style: solid;
  }

.navbar a {
    float: left;
    font-size: 16px;
    color: var(--light-purple);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    background-color: var(--grey);
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: var(--light-purple);
    padding: 14px 16px;
    background-color: var(--black);
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--grey);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--grey);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: var(--light-purple);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: var(--grey);
    border-style: solid;
    border-width: 2px;
    border-color: var(--grey);
}

.dropdown-content a:hover {
    background-color: var(--dark-grey);
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav {
    width: max-content;
    padding: 5px;
}

nav button:hover {
    background-color: var(--dark-grey);
}

button {
    font-weight: bold;
}

a {
    font-weight: bold;
    font: monospace;
    color: var(--light-purple);
}

.sidenav {
    height: fit-content;
    width: 8%;
    position: fixed; 
    z-index: 1; 
    top: 25.1%;
    right: 3px;
    background-color: var(--black);
    overflow-x: hidden;
    border-radius: 0px;
    border-width: 3px;
    border-color: var(--dark-purple);
    border-style: solid;
}

.sidenav button {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    background-color: var(--black);
    color: var(--white);
    border: var(--black);
    width: 100%;
    border-radius: 0px;
}

.sidenav button:hover {
    background-color: var(--dark-grey);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--black);
    text-align: center;
    color: var(--white);
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 20px;
    border-width: 3px;
    border-color: var(--dark-purple);
    border-style: solid;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: var(--white);
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: var(--white);
}

p {
    font-family: monospace;
}

.frontpage-text{
    font-size: 20px;
}

/* .clicker {
    background-color: var(--dark-purple);
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    color: var(--white);
    border: var(--black);
    width: auto;
    border-radius: 0px;
} */

.project_title {
    background-color: var(--black);
    color: var(--light-purple);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.project_title.collapsed:after {
    content: " ⏷";
}
.project_title:not(.collapsed):after {
    content: " ⏵";
}
.project_title:not(.collapsed)+div {
   display:none;
}

.project {
    width: 100%;
    border-width: 3px;
    border-color: var(--dark-purple);
    border-style: solid;
    background-color: var(--dark-grey);
}

.description-area {
    margin: auto;
    margin-right: 8%;
    overflow: hidden;
    padding: 10px;
}

.description {
    margin: auto;
    width: 100%;
    background-color: var(--dark-grey);
    text-align:center;
}

.description p {
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

.description embed {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 300px;
    padding: 10px;
}

.description video {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 300px;
    align-items: center;
    padding: 10px;
}

link {
    display: none;
    font: monospace;
}

object {
    margin: 5px;
}

.resume {
    width: 60%;
    margin-left: 20%;
    height: 1200px;
}

/* Portfolio filtering */
.filter_header {
    width: 100%;
    display: inline-block;
    padding: 0;
}

.filters {
    width: 84vw;
    margin: 0 0;
    float: left;
}

.filters ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

.filters ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 20px 10px 0;
}

.filters ul li a {
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    color: var(--light-purple);
}

.filters ul li a:hover, .filters ul li a:active {
    color: #54a4db;
}

.cards_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 0;
}

.card {
    width: calc((79.8vw - 49.566px) / 3);
    min-width: 190px;
    height: calc(0.6666*(26.6vw - 16.522px) + 44.987px);
    margin: 0 1% 2%;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 651px) and (max-width: 749px) {
    .card {
        width: calc(39.9vw - 18.783px);
        height: calc(0.6666*(39.9vw - 18.783px) + 44.987px);
    }
}

@media (max-width: 650px) {
    .card {
        height: calc(0.6666*(84vw - 12.28px) + 44.987px);
    }
}

.card:hover {
    border: 1px solid #363636;
}

figcaption {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 5px 15px;
}

.card h3 {
    margin-block-start: 3px;
    margin-block-end: 3px;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.25em;
    line-height: 1.25em;
    color: var(--light-purple);
}

.date {
    font-size: 1em;
    text-align: right;
}

.portfolio-modal {
    position: fixed;
    z-index: 10;
    top: 2em;
    bottom: 0;
    left: 12em;
    right: 12em;
    background: white;
    box-shadow: 0px 0px 30px 2em rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: overlay;
    cursor: default;
    display: none;
}

.portfolio-modal.is-open {
    display: block;
}

.portfolio-header:nth-of-type(1) {
    background-image: url(./resources/background.png);
    background-size: cover;
    background-position: center;
}

.portfolio-title-box {
    background: rgba(#54a4db, 0.75);
    padding: 3em 0 3em 3em;
    color: white;
    width: 70%;
}

.portfolio-title {
    font-size: 3em;
    white-space: normal;
    overflow: auto;
}

.portfolio-subtitle {
    font-size: 2em;
    white-space: normal;
    overflow: auto;
}

.portfolio-content {
    text-align: left;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 2em;
    white-space: normal;
    overflow: auto;
}

.text-box:first-child {
    margin-top: 1em;
}

.portfolio-full-width {
    width: 100%;
    max-width: initial;
    object-fit: cover;
}

.multiple-pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.modal-close {
    background: transparent;
    position: fixed;
    cursor: pointer;
    left: calc(14.5em + 0.375vw);
    top: calc(3em + 0.375vw);
    border: 0;
    scale: 80%;
}

.close-svg {
    width: 3vw;
    height: auto;
    max-width: 2em;
    min-width: 1.5em;
}

.portfolio-link {
    z-index: 10;
}