/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 120px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

header {
    background-color: rgb(151, 7, 187);
    border: #7b7b7b;
    border-width: 10px;
}

h1 {
    text-align: center;
    color: #f1f1f1;
}

body {
    background-color: rgb(206, 117, 228);
    text-align: left;
}

link {
    display: none;
}

nav {
    background-color: #111;
}

nav a {
    color: #f1f1f1;
}

embed {
    border: #111;
    border-radius: 10px;
}

object {
    align-items: center;
    border: #111;
    border-radius: 10px;
}
